:root {
  --font-family-base: "Roboto", sans-serif;

  --color-bg-white: #fff;
  --color-bg-beige: #0d0da4;
  --color-text: #1b2229;
  --color-gray : #3d3d44;
  --color-dark-red :  #c20808bb;
  --color-dark-blue : #0d10c6b9;
  --shadow-soft: rgba(0, 0, 0, 0.06);

  --bg-color-dark: #20232a;
  --bg-hover-dark: #333;
  --text-light-color: #fff;

  --light-blue-color : hsl(222, 52%, 95%);
  --header-height :8vh;
  }
  