@import "../styles/constants.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;       
  padding: 4rem 1rem;             
  min-height: 100vh;              
  box-sizing: border-box;
  overflow: visible;              
}
.form-header {
  background-color: var(--color-bg-white);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  width: 100%;
  max-width: 440px;
  box-sizing: border-box;
  overflow-y: auto;               
  max-height: 90vh;                
}

.form-header h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
  color: var(--color-text);
  text-align: center;
  font-weight: 600;
}

.form-field {
  margin-bottom: 24px;
  position: relative;
}

.form-field label {
  display: block;
  font-size: 15px;
  margin-bottom: 8px;
  font-weight: 500;
  color: var(--color-gray);
}

.asterisk {
  color: var(--color-dark-red);
  margin-left: 5px;
}

.input-field {
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid var(--color-gray);
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
}

.input-field:focus {
  border-color: var(--color-dark-blue);
}

.input-field.error {
  border-color: var(--color-dark-red);
}

.submit-btn {
  background-color: var(--color-text);
  color: var(--color-bg-white);
  border: none;
  padding: 10px 16px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: var(--color-dark-blue);
}

.submit-btn:disabled {
  background-color: var(--color-gray);
  cursor: not-allowed;
}

.error-message {
  color: var(--color-dark-red);
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.form-field input[type="date"] {
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid var(--color-text);
  border-radius: 6px;
  width: 100%;
}

.form-button-row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.account-link {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: var(--color-text);
}

.account-link .text-link {
  color: var(--color-dark-blue);
  text-decoration: none;
  font-weight: 500;
}

.account-link .text-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .form-container {
    align-items: flex-start;
    padding-top: 1rem;
  }

  .form-header {
    margin-top: 2rem;
  }

  .submit-btn {
    width: 100%;
  }

  
}
