@import "../styles/constants.css";

.event-page-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
}

.event-details-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: var(--light-blue-color);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  padding: 2rem;
}

.event-info {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-description {
  margin-top: 0.5rem;
  color: #444;
}

.event-image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.event-schedule {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-top: 0;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.schedule-block {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.ticket-list {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.ticket-item {
  font-size: 0.95rem;
  background: var(--light-blue-color);
  padding: 0.75rem;
  border-radius: 6px;
}

.ticket-info {
  margin-bottom: 0.5rem;
  
}

.ticket-actions {
  display: flex;
  gap: 0.5rem;
}

.ticket-actions button {
  padding: 6px 12px;
  border: none;
  background-color: #322c28;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.ticket-actions button:hover {
  background-color: #646269;
}
