.event-page-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
}

.event-details-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  max-width: 1000px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  padding: 2rem;
}

.event-info {
  flex: 1;
  min-width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-description {
  margin-top: 0.5rem;
  color: #444;
}

.event-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.event-schedule {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-top: 0;
}

.event-schedule p {
  margin: 0.5rem 0;
}

.schedule-block {
  margin-bottom: 1.5rem;
}

.ticket-list {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  padding-left: 1rem;
  list-style-type: disc;
}

.ticket-list li {
  margin-top: 0.3rem;
  font-size: 0.95rem;
}

.ticket-item {
  margin-bottom: 1em;
}

.ticket-actions {
  margin-top: 0.5em;
}

.ticket-actions button {
  margin-right: 0.5em;
  padding: 6px 12px;
  border: none;
  background-color: #322c28;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.ticket-actions button:hover {
  background-color: #646269;
}

